/* color palette: #80EF80 */

* {
    font-family: Nunito, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

/* Login Page */
.login {
    background-color: #80EF80;
    overflow-y: hidden;
    overflow-x: hidden;
}
#circle1-login {
    z-index: 1;
    background-color: white;
    position:fixed;
    border-radius: 50%;
    width: 75rem;
    aspect-ratio: 1/1;
    right: -25rem;
    top: -17rem;
}
#circle2-login {
    z-index: 1;
    background-color: #E1FEE1;
    position:fixed;
    border-radius: 50%;
    width: 20rem;
    aspect-ratio: 1/1;
    right: 37rem;
    bottom: -8rem;
}
#circle3-login {
    z-index: 1;
    background-color: #ADF8AD;
    position:fixed;
    border-radius: 50%;
    width: 10rem;
    aspect-ratio: 1/1;
    right: 53rem;
    bottom: 2rem;
}
#login-container {
    z-index: 9;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 17.5rem;
    justify-content: center;
    height: 100%;
}
#login-field {
    display: flex;
    flex-direction: column;
}
#name {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    justify-content: center;
    left: 8.75rem;
    color: white;
}
#title{ 
    font-size: 7.5rem;
    height: 8.5rem;
    font-weight: bold;
}
#subtitle {
    text-align: right;
    font-size: 1.25rem!important;
}
#login-text {
    padding-left: .6rem;
    font-size: 2.5rem;
}
#login-field {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 130%;
}
#login-field input{
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 25px;
    font-size: 1rem;
    
}
#login-field input::placeholder {
    font-size: 1rem;
}
#login-field button {
    border-radius: 25px;
    height: 2rem;
    background-color: #4FC7C7;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
#login-field button:hover {
    background-color: #A8F1F1;
    cursor: pointer;
}
#login-container a {
    all: unset;
    color: #2EA7A7;
    text-decoration: underline;
    cursor: pointer;
}
#login-container a:hover {
    color: #77DFDF;
}


.modal-overlay {
    display: none; 
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
/* Signup Popup */
.signup-container {
    text-align: center;
    background-color: #2EA7A7;
    border-radius: 50%;
    width: 40rem;
    aspect-ratio: 1/1;
    position: fixed;
    top: 1rem;
    right: 3rem;
}
#container-title {
    padding-top: 2rem;
    font-size: 1.75rem;
    color: white;
    font-weight: bold;
}
#signup-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 3rem ;
    gap: .25rem;
}
.signup-elem {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: .15rem;
}
.signup-elem label {
    color: white;
}
.signup-elem input {
    height: 2rem;
    border-radius: 25px;
    padding: .25rem;
    padding-left: 1rem;
} 
.signup-elem select {
    border-radius: 25px;
    padding: .5rem .5rem;
    margin: .5rem 0;
}
#signup-field button {
    width: 35%;
    background-color: #4FC7C7;
    padding: .6rem .45rem .6rem .45rem;
    margin: .5rem 0;
    border-radius: 25px;
    font-weight: bold;
}
#signup-field button:hover {
    background-color: #A8F1F1;
    cursor: pointer;
}
#signup-field a {
    all: unset;
    color: #DFFDFD;
    text-decoration: underline;
}
#signup-field a:hover {
    color: #A8F1F1;
    cursor: pointer;
}
/* Recover Popup */
#header-recovery {
    text-align: center;
    padding: .75rem 2.5rem;
}
#header-recovery p{
    font-size: 3.5rem;
    font-weight: bold;
    color: #80EF80;
}
.recovery-container {
    text-align: center;
    background-color: #2EA7A7;
    border-radius: 50%;
    width: 40rem;
    aspect-ratio: 1/1;
    position: fixed;
    top: 1rem;
    right: 3rem;
}
#recovery-message {
    margin: .5rem 0;
    color: white;
}
#recovery-title {
    padding-top: 10rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}
#recovery-subtitle {
    margin-bottom: .25rem;
}
#recovery-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    margin-bottom: .5rem;
}
#recovery-field input {
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 60%;
}
#recovery-field button {
    background-color: #4FC7C7;
    padding: .65rem;
    border-radius: 25px;
    font-weight: bold;
    width: 35%;
}
#recovery-field button:hover {
    background-color: #A8F1F1;
    cursor: pointer;
}
#remembered-pass a {
    all: unset;
    color: #A8F1F1;
    text-decoration: underline;
}
#remembered-pass a:hover {
    color: #77DFDF;
    cursor: pointer;
}